<section class="timeline-entry">
    <div class="timespan">
        <div class="timespan-inner">
        <time>Feb 2022</time>
        <time>Today</time>
        </div>
    </div>
    <div class="station">
        <h2>Technical head of automation</h2>
        <h3>cronos Automation GmbH - Münster</h3>
        <div class="timespan-inner">
            <time>Feb 2022</time>
            <span>-</span>
            <time>Today</time>
        </div>
        <div>
            <p>
                Das ist eine Beschreibung der momentanen Station. 
                Bitte ein längerer Text verwenden, damit das auch passt.
            </p>
            <ul>
                <li>Implementierung von Standards im UiPath-Ökosystem</li>
                <li>Implementierung von Standards im UiPath-Ökosystem</li>
                <li>Implementierung von Standards im UiPath-Ökosystem</li>
            </ul>
        </div>
    </div>
</section>