<div class="skills grid grid-auto">
    {{~>custom-components/progress-bar
        progressTitle="Gather information about possible solutions"
        progressDescription="My daily business"
        value="8"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Understanding customer wishes"
        progressDescription="Sometimes pretty confusing"
        value="7"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Develop proof of concepts"
        progressDescription="You have a problem! I have a solution!"
        value="9"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Analyze a given problem"
        progressDescription="I can dig deep and uncover things"
        value="9"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Workshop moderation"
        progressDescription="Clarifying needs needs moderation"
        value="6"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Prepare projects within the business case"
        progressDescription=""
        value="7"
    ~}}
</div>