<div class=" skills grid grid-auto">
    {{~>custom-components/progress-bar
        progressTitle="German"
        progressDescription="Native Speaker"
        value="10"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="English"
        progressDescription="Practicing speaking"
        value="6"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Netherlands"
        progressDescription="Basic knowledge"
        value="3"
    ~}}
</div>