<div class=" skills grid grid-auto">
    {{~>custom-components/progress-bar
        progressTitle="HTML/CSS"
        progressDescription="Using it"
        value="7"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle=".NET (C#, VB.NET, F#)"
        progressDescription="Fundamentle knowledge"
        value="8"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Computer Architectur"
        progressDescription="Built my own breadboard cpu"
        value="7"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Javascript / NodeJS"
        progressDescription="Using it for advanced projects"
        value="8"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="C & C++"
        progressDescription="I know the important parts."
        value="3"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Adobe CC"
        progressDescription="Good old adobe products"
        value="5"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Webframeworks (Tailwind/Angular/Vue, etc)"
        progressDescription="What a iceberg of different frameworks"
        value="4"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="DevOps / Pipelining"
        progressDescription="I Worked with different tools"
        value="7"
    ~}}
</div>