<div class=" skills grid grid-auto">
    {{~>custom-components/progress-bar
        progressTitle="Project Management"
        progressDescription="Continous learning!"
        value="6"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Provide technical advisory"
        progressDescription="I can give two cents to almost everything"
        value="9"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Working with agile tools"
        progressDescription="Which structure of an agile board is the best?"
        value="6"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Provide userstories"
        progressDescription="Sometimes I can write a whole book."
        value="7"
    ~}}
</div>