{{#post}}
{{#if primary_tag.accent_color}}
{{#contentFor "themecolor"}}{{primary_tag.accent_color}}{{/contentFor}}
{{else}}
{{#contentFor "themecolor"}}{{@site.accent_color}}{{/contentFor}}
{{/if}}
{{! TOC}}
{{#contentFor "scripts"}}
<script type="application/javascript" defer>
window.addEventListener("load", () => {
    ObserveSections();
});
</script>
{{/contentFor}}
{{!< default}}
<div class="gh-outer">
<main class="gh-main gh-inner">
{{#> (concat "custom-components/" @site.locale "/custom-resume/custom-resume-content")}}
  No template matched for "{{concat "custom-components/" @site.locale "/custom-resume/custom-resume-content"}}"
{{/undefined}}
</main>
</div>
{{/post}}