{{!< default}}
{{#post}}


<article class="resume">
    <main>
        <section id="myprofile">
            <header>
                <div class="pretext">My Resume!</div>
                <h1 class="heading">Who is <span class="highlight text-gardient">Mario Kellner</span></h1>
            </header>
            <p>
                Introtext
            </p>
        </section>
        <section id="contact">
            <h1>Contact &amp; Plattforms</h1>
            <p>
                Contact
            </p>
        </section>
        <section id="experience">
            <h1>My Experience</h1>
            <main>
                <div class="timeline">
                    {{>timeline-entry}}
                </div>
            </main>
        </section>
        <section id="education">
            <h1>My Education</h1>
            <main>
                <div class="timeline">
                    {{>timeline-entry}}
                </div>
            </main>
        </section>
        <section id="skills">
            <h1>My Capabilities &amp; Skills</h1>
            <p>
                At the following list you can get an Impression what m skills are.
                My goal is not to understand everything to reach 110 % out of 100 %.

                My Goal is to get a wide dield of knowledge to combine and analyse komplex systems much easier.
                
            </p>
            <div class="tabbed vertical">
                <input type="radio" name="tabs" id="tab1" checked />
                <input type="radio" name="tabs" id="tab2" />
                <input type="radio" name="tabs" id="tab3" />
                <input type="radio" name="tabs" id="tab4" />
                <input type="radio" name="tabs" id="tab5" />
                <div class="tab-menu">
                    <label for="tab1" class="tab-menu-entry">Infrastructure</label>
                    <label for="tab2" class="tab-menu-entry">Management</label>
                    <label for="tab3" class="tab-menu-entry">Development</label>
                    <label for="tab4" class="tab-menu-entry">Language</label>
                    <label for="tab5" class="tab-menu-entry">Other Tools</label>
                </div>
                <div class="tab-elements" >
                    <div class="tab content1">
                        <div class=" skills grid grid-auto">
                            <div class="skill">
                                <h5 class="progress-label">Requirements Engineering</h5>
                                <progress class="steps" title="My daily business" max="10" value="8"></progress>
                            </div>
                        </div>
                    </div>
                    <div class="tab content2">Tab2 Contents</div>
                    <div class="tab content3">Tab3 Contents</div>
                    <div class="tab content4">Tab4 Contents</div>
                    <div class="tab content5">Tab5 Contents</div>
                </div>
            </div>
        </section>
        <section id="projects">
            <h1>My Projects (including projects in the full-time position too)</h1>
            <p>
                Portofolio Component
            </p>
        </section>
        <section id="hobbies">
            <h1>My Interests</h1>
            <p>
                My hobbies
            </p>
        </section>
    </main>
    <aside>
        <figure class="cv-photo">
            <img src="{{img_url @site.cover_image size="m"}}"/>
        </figure>
        <nav class="toc">
            
        <h4>Content</h4>
            <ul>
                <li><a href="#myprofile">My Pofile</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#hobbies">My Interests</a></li>
            </ul>
        </nav>
    </aside>
</article>
{{/post}}