{{!< default}}
{{> components/hero}}

<!--<main id="site-main" class="site-main outer">
    <div class="post-feed">
    {{#foreach posts~}}
        {{> "post-card"}}
    {{/foreach~}}
    </div>
    {{pagination}}
</main>-->