{{!< default}}
{{{block "preload"}}}
<div class="gh-outer">
<main class="gh-main gh-inner">
{{> components/custom-hero/hero}}
{{> components/custom-hero/aboutme}}
{{> featuredposts}}
{{> populartags}}
</main>
</div>
