
.tag-template .article-header {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.tag-template .tag {
        display: grid;
        grid-template-rows: min-content 1fr auto;        
}

.tag-template .gh-page .gh-inner {
    padding: 2rem 0 ;
}

.tag-template .gh-page .article-header {
    padding: 1.5rem var(--gap);
    border-bottom: 1px solid var(--color-border-2);
    padding: 1.5rem var(--gap);
    transition: background-color 1s;

}
.tag-template .gh-page .gradient-effect {
    background: linear-gradient(to left top, transparent, rgba(255,255,255,0.3) 100%) var(--color-primary);
}
.tag-template .default-color {
    background-color: var(--color-primary);
    background: linear-gradient(310deg,var(--color-primary),var(--color-secondary),var(--color-primary)) 0 /200%;
    
}

.tag-template .gh-page .tag-description {
    white-space: pre-line;
}

.tag-template .gh-page .article-header .article-title h1 {
    
    color: var(--color-text-reverse);
    font-size: 3.5rem;
}
.tag-template .gh-page .article-header .article-title {
    color: var(--color-text-reverse);
    margin: 0 auto;
    max-width: var(--container-width);
    line-height: 1rem;

}

.tag-template .gh-page .article-image {
    box-shadow:  inset 0px 30px 22px -32px rgba(0,0,0,0.75), inset 0px -29px 22px -32px rgba(0,0,0,0.75);

}
.tag-template .gh-page .article-image div {
    height: 25rem;
    padding-bottom: 0;
    
}
.tag-template .gh-page .article-image img {
    z-index: -2;
    border-radius: 0;;
}
.tag-template .gh-page .gh-article-footer {
    background-color: var(--color-background-accient-2);
    margin-top: 4rem;
    border-top: 1px solid var(--color-border-2);
    font-size: 1.2rem;
    padding: 1rem var(--gap);
}

.tag-template .gh-page .gh-article-meta-inner {
    margin: 0 auto;
    max-width: var(--container-width);
}

