.grid {
    display: grid;
    gap: calc(var(--gap)/2);
}

.grid-columns-3 {
    grid-template-columns: repeat(3, minmax(0,1fr));
}
.grid-columns-4 {
    grid-template-columns: repeat(4, minmax(0,1fr));
}

.content-divider {
    display: grid;
    grid-template-columns: 0.75fr 0.25fr;
    column-gap: 32px;
    padding: 0 var(--gap);
}
