.grid {
    display: grid;
    gap: calc(var(--gap)/2);
}

.grid-columns-3 {
    grid-template-columns: repeat(3, minmax(0,1fr));
}
.grid-columns-4 {
    grid-template-columns: repeat(4, minmax(0,1fr));
}

.grid-auto {
    grid-template-columns: repeat(auto-fit, minmax(min(27rem, 100%), 300px));
}

.grid-auto-fill {
    grid-template-columns: repeat(auto-fill, minmax(min(22rem, 100%), 1fr));
}

.grid-content {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    column-gap: calc(var(--gap)/2);
    padding: 0 var(--gap);
    width: 100%;
}
