:root {
    --toc-primary-color: var(--color-primary);
}

.toc {
    text-align: left;
}

.toc ul {
    display: flex;
    flex-flow: column;
    gap: 4px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.toc a {
    width:100%;
    display: block;
}

.toc a:hover, .toc .highlight {
    color: var(--toc-primary-color);
}

.toc li:has(.highlight) {
    border-left: 2px solid var(--toc-primary-color);
}

.toc li {
    padding: 0 1rem;
}
.toc .toc-H3 {
    padding-left: 2rem;
    font-size: 1.2rem;
}
