
.highlight {
    color: var(--color-primary);
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to left,var(--color-primary),var(--color-secondary));
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--color-primary);    
}

header .pretext {
    
    color: var(--color-primary);
}


header .heading, hr {
    border-bottom: 2px dashed var(--color-border-2);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    background: transparent;
}

header.with-action {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: var(--gap);

}
header.with-action .pretext {
    width: 100%;
}

figcaption {
    margin-top: 0;
}

p {
    margin: 12px 0;
    font-size: 1.6rem;
}

h1 {
    font-size: 4rem;
}

.text-gardient {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to left,var(--color-primary),var(--color-secondary));
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--color-primary);    
}



dl {
    width:100%;
    max-width: 670px;
    margin: 0 auto;
}


dl > * {
    padding-top: 0.5em;
}

dt {
    border-bottom: 0.5rem solid var(--color-border-2);
    border-image-source: linear-gradient(to right top, var(--color-primary), var(--color-secondary));
    border-image-slice: 1;
    float: left;
    clear: left;
    width: 200px;
    text-align: right;
    font-weight: bold;
}

dd {
    margin: 0 0 0 210px;
    padding: 0 0 0.5em 0;
}

pre {
    color: var(--color-text-reverse);
    background-color: var(--color-background-primary-footer);
}

@media (max-width: 640px) {
    dt {
        float: unset;
        width: 100%;
        text-align: left;

    }

    dd {
        margin: 0;
    }
}

@media (min-width: 330px) {
  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
  body {
    overflow-x: hidden;
  }
}
@media (min-width: 1400px) {
    .attention {
        margin-left: -5vw;
        margin-right: -5vw;
      }
}