
.highlight {
    color: var(--color-primary);
}

header .pretext {
    
    color: var(--color-primary);
}

header.with-action {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: var(--gap);

}
header.with-action .pretext {
    width: 100%;
}

p {
    margin: 12px 0;
}

h1 {
    font-size: 5.5rem;
}

.text-gardient {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to left,var(--color-primary),var(--color-secondary));
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--color-primary);    
}

@media (min-width: 330px) {
  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
  body {
    overflow-x: hidden;
  }
}