
.highlight {
    color: var(--color-primary);
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to left,var(--color-primary),var(--color-secondary));
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--color-primary);    
}

header .pretext {
    
    color: var(--color-primary);
}


header .heading {
    border-bottom: 2px dashed var(--color-border-2);
    margin-bottom: 1rem;
    padding-bottom: 1rem
}

header.with-action {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: var(--gap);

}
header.with-action .pretext {
    width: 100%;
}

figcaption {
    margin-top: 0;
}

p {
    margin: 12px 0;
    font-size: 1.6rem;
}

h1 {
    font-size: 4rem;
}

.text-gardient {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to left,var(--color-primary),var(--color-secondary));
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--color-primary);    
}

dl {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    max-width: 670px;
    margin: 0 auto;
}
dl > * {
    padding-top: 0.5em;
}
dt {
    width:30%;
    font-weight: bold;
    text-align:right;
}
dd {
    width:60%;
    padding-left:1em;
    margin-left: 0px;
}
dd + dd {
    width: 100%;
    padding-left: calc(30% + 1em);
}
dt + dt {
    padding-right: 60%;
}
dt + dt + dd {
    margin-top: -1.625em;
    padding-left: calc(30% + 1em);
}


@media (min-width: 330px) {
  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
  body {
    overflow-x: hidden;
  }
}
@media (min-width: 1400px) {
    .attention {
        margin-left: -5vw;
        margin-right: -5vw;
      }
}