<div class="skills grid grid-auto">
    {{~>custom-components/progress-bar
        progressTitle="Projektmanagement"
        progressDescription="Kontinuierliches Lernen!"
        value="6"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Technische Beratung bieten"
        progressDescription="Ich kann zu fast allem meinen Senf dazugeben."
        value="9"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Arbeiten mit agilen Tools"
        progressDescription="Wie viel Agile darf sein?"
        value="6"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Erstellen von Benutzerstories"
        progressDescription="Manchmal kann ich ein ganzes Buch schreiben."
        value="7"
    ~}}
</div>