<div class="skills grid grid-auto">
    {{~>custom-components/progress-bar
        progressTitle="Deutsch"
        progressDescription="Muttersprachler"
        value="10"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Englisch"
        progressDescription="Business Level"
        value="6"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Niederländisch"
        progressDescription="Grundkenntnisse"
        value="3"
    ~}}
</div>