<div class="skills grid grid-auto">
    {{~>custom-components/progress-bar
        progressTitle="Informationen über mögliche Lösungen sammeln"
        progressDescription="Mein tägliches Geschäft."
        value="8"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Kundenwünsche verstehen"
        progressDescription="Manchmal ziemlich verwirrend."
        value="7"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Proof of Concepts entwickeln"
        progressDescription="Sie haben ein Problem! Ich habe eine Lösung!"
        value="9"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Analyse eines gegebenen Problems"
        progressDescription="Ich kann tief graben und Dinge aufdecken."
        value="9"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Workshop-Moderation"
        progressDescription="Klärung von Bedürfnissen erfordert Moderation."
        value="6"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Projekte innerhalb des Geschäftsfalls vorbereiten."
        progressDescription=""
        value="7"
    ~}}
</div>