<div class="skills grid grid-auto">
    {{~>custom-components/progress-bar
        progressTitle="HTML/CSS"
        progressDescription="Verwendung."
        value="7"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle=".NET (C#, VB.NET, F#)"
        progressDescription="Grundkenntnisse."
        value="8"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Computerarchitektur"
        progressDescription="Eigenen Breadboard-Prozessor gebaut."
        value="7"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Javascript / NodeJS"
        progressDescription="Verwendung für fortgeschrittene Projekte."
        value="8"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="C & C++"
        progressDescription="Kenne die wichtigen Teile."
        value="3"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Adobe CC"
        progressDescription="Bewährte Adobe-Produkte."
        value="5"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="Webframeworks (Tailwind/Angular/Vue, etc)"
        progressDescription="Nutze verschiedene Frameworks."
        value="4"
    ~}}
    {{~>custom-components/progress-bar
        progressTitle="DevOps / Pipelining"
        progressDescription="Entwicklung lässt sich automatisieren."
        value="7"
    ~}}
</div>