
@import "@tryghost/shared-theme-assets/assets/css/v1/screen.css";

:root {
    --page-width: 1440px;    
    --color-white: #ffffff; 
    --whiteA: rgba(249,249,249,0.5);
    --black: #36383F;
    --color-logo: #000000;
    --gray: #85888C;
    --color-border: rgba(0, 0, 0, 0.08);
    --gap: clamp(24px, 1.7032rem + 1.9355vw, 48px);
    --head-nav-gap: 24px;
    --container-width: 1440px;
    --content-font-size: clamp(1.7rem, 0.38vw + 1.4rem, 2rem);
    --color-green: #a4d037;
    --color-yellow: #fecd35;
    --color-red: #f05230;
    --color-darkgrey: #15171A;
    --color-midgrey: #738a94;
    --color-lightgrey: #f1f1f1;
    --color-secondary-text: #979797;
    --color-border: #e1e1e1;
    --color-wash: #e5eff5;
    --color-darkmode: #151719;
    --font-sans-serif: "Inter var",sans-serif;
}

html {
    font-family: var(--font-sans-serif);
}

body {
    font-family: var(--font-sans-serif);
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    height: 100%;
}


.pcb-text-small {
    font-size: 1.5rem;
}

/** Javascript less navigation **/

.gh-head {
    background-color: var(--whiteA);
    position: sticky;
    height: 64px;
    top: 0;
}

.gh-head .pcb-brand a {
    background-color: var(--color);
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -.02em;
    position: relative;
    white-space: nowrap;
}

.gh-head .gh-head-inner {
    grid-template-columns: auto 1fr;
    max-width: var(--page-width);
    overflow: hidden;
}

.gh-head ul {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    align-items: center;
    gap: var(--head-nav-gap);
}

.gh-head .gh-head-inner ul.nav li {
    opacity: 1;
}

.gh-head nav a {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: none;
}

.gh-head nav {
    display: grid;
    grid-template-columns: 1fr auto;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

.hamb {
    cursor: pointer;
    float: right;
    padding: 20px 20px;
}

.hamb-line {
    background: var(--black);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

}

.hamb-line::before, .hamb-line::after {
    background: var(--black);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

.hamb {
    display: none;
}



/** Content **/

.pcb-outer-content {
    background-color: var(--color-white);
}

.pcb-outer-content {
    padding-bottom: 64px;
}

section.content {
    background-color: var(--color-white);
    max-width: var(--container-width);
    margin: 0 auto;
    align-items: center;
}

.content-divider {
    display: grid;
    grid-template-columns: 0.75fr 0.25fr;
    column-gap: 32px;
    padding: 0 var(--gap);
}

.article-sidebar {
    background-color: #a4d037;
    width:100%;
}



/** footer **/
.gh-foot {
    background-color:rgb(21 23 26);
    border-top:rgb(31 41 55) 1px solid;
    color: white;
    padding-top: 0;
    padding-bottom: 0;
}

.gh-foot a:hover, .gh-foot .secondary .nav a:hover {
    color: var(--ghost-accent-color);
}
.gh-foot-menu ul.nav:not(.nav-vertical) {
    gap: 32px;
}

.gh-foot-menu {
    margin-top: 6px;
}

.gh-foot-menu ul.nav-vertical {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}


.gh-foot-menu ul.nav li + li::before {
    display: unset;
    content: unset;
    padding: unset;
}

.gh-foot .primary-footer {
    max-width: var(--container-width);
    width:100%;
    display: grid; 
    margin: 0 auto;
    gap: 24px; 
    grid-template-columns: auto auto auto; 
    grid-template-rows: auto 1fr; 
    grid-template-areas: 
      "secondary secondary secondary"
      "resources-1 resources-2 newsletter";
}

.gh-foot .primary-footer section {
    padding-bottom: var(--gap);
}
.gh-foot-second {
    background-color: black;
    min-height: 42px;
}

.gh-foot .second-footer {
    max-width: var(--container-width);
    width:100%;
    height: 100%;
    display: grid; 
    gap: 24px; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto; 
    grid-template-areas: 
      "legal social"; 
    align-items: center;
}

.gh-foot .legal { 
    grid-area: legal; 
}

.gh-foot .social { 
    grid-area: social;
    text-align: right;
}

.gh-foot .secondary { 
    grid-area: secondary;
    display: grid;
    border-bottom:rgb(31 41 55) 1px solid;
    grid-auto-flow: dense;
    grid-template-columns: auto 1fr;
    align-items: center;
    overflow: hidden;
    padding: 24px 0 !important;
    gap: 32px;
}

.gh-foot .secondary a {
    color: var(--color-white);
}

.gh-foot .secondary .pcb-brand a {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -.02em;
    position: relative;
    white-space: nowrap;
} 

.gh-foot .resources-1 { grid-area: resources-1; }
.gh-foot .resources-2 { grid-area: resources-2; }
.gh-foot .newsletter { grid-area: newsletter; }

footer a, footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
    color: var(--color-white);
}

@media (max-width: 64em) {
    .article-sidebar {
        display: none;
    } 
    .content-divider {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767px) {
    /** navbar collapsed **/ 
    .pcb-brand .gh-search {
        display: inherit;
    }
    .hamb {
        display: inherit;
    }

    .gh-head .gh-head-inner {
        grid-template-columns: 1fr;
    }

    .gh-head .pcb-brand {
        align-items: center;
        display: grid;
        grid-column-start: 1;
        grid-template-columns: 1fr auto auto;
        height: 64px;
    }

    .gh-head nav {
        justify-content: center;
        opacity: 0;
        position: fixed;
        visibility: hidden;
    }

    /** navbar checked/open **/
    .side-menu:checked ~ .gh-head {
        max-height: 100%;
        height: 100% !important;
        inset: 0;
        position: fixed;
        z-index: 3999999;
        background-color: var(--color-white);
    }

    .side-menu:checked ~ #gh-head header.gh-head-inner {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
    
    .side-menu:checked ~ #gh-head .gh-head-inner .gh-head-menu {
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr auto; 
        align-content: center;
        justify-items: center;
        display: grid; 
        gap: 32px;     
    }
    .side-menu:checked ~ #gh-head .gh-head-inner .gh-head-menu , .side-menu:checked ~ #gh-head .gh-head-inner .gh-head-menu .gh-head-actions {
        opacity: 1;
        position: static;
        visibility: visible;
    }
    
    .side-menu:checked ~ .gh-head .gh-head-menu .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .side-menu:checked ~ #gh-head .gh-head-menu .nav li {
        opacity: 1;
    }

    /** footer **/
    .gh-foot-menu .nav {
        flex-direction: row;
    }

    .gh-foot-menu {
        margin-top: 0;
    }

    .gh-foot .primary-footer {
        max-width: var(--container-width);
        width:100%;
        display: grid; 
        margin: 0 auto;
        gap: 24px; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto 1fr; 
        grid-template-areas: 
          "secondary secondary"
          "newsletter newsletter"
          "resources-1 resources-2";
    }    
}

@media (max-width: 530px) {
    .gh-foot .primary-footer {
        max-width: var(--container-width);
        width:100%;
        display: grid; 
        margin: 0 auto;
        gap: 24px; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr; 
        grid-template-areas: 
          "secondary"
          "newsletter"
          "resources-1"
          "resources-2";
    }
    
    footer a, footer h1, footer h2, footer h3, footer h4, footer h5, footer h6, .gh-foot-menu ul.nav-vertical {
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .gh-foot .secondary .pcb-brand {
        display: none;
    }

    .gh-foot .secondary {
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
    }
    .gh-foot .primary-footer section {
        border-bottom:rgb(31 41 55) 1px solid;
    }
    
    .gh-foot .second-footer {
        padding-top: 5px;
        gap: 0;
        text-align: center;
        justify-content: center; 
        grid-template-columns:1fr; 
        grid-template-rows: auto auto; 
        grid-template-areas:       
            "social"
            "legal"; 
        align-items: center;
    }
    .gh-foot .social { 
        text-align: center;
    }
}