
@import "@tryghost/shared-theme-assets/assets/css/v1/screen.css";
@import "fonts.css";
@import "header.css";
@import "footer.css";
@import "hero.css";

:root {
    --page-width: 1440px;    
    --color-white: #ffffff; 
    --whiteA: rgba(249,249,249,0.5);
    --black: #36383F;
    --color-logo: #000000;
    --gray: #85888C;
    --color-border: rgba(0, 0, 0, 0.08);
    --gap: clamp(24px, 1.7032rem + 1.9355vw, 48px);
    --head-nav-gap: 24px;
    --container-width: 1200px;
    --content-font-size: clamp(1.7rem, 0.38vw + 1.4rem, 2rem);
    --color-green: #a4d037;
    --color-yellow: #fecd35;
    --color-red: #f05230;
    --color-darkgrey: #15171A;
    --color-midgrey: #738a94;
    --color-lightgrey: #f1f1f1;
    --color-secondary-text: #979797;
    --color-border: #e1e1e1;
    --color-wash: #e5eff5;
    --color-darkmode: #151719;
    --font-sans-serif: "Inter var",sans-serif;
}

html {
    font-family: var(--font-sans-serif);
}

body {
    font-family: var(--font-sans-serif);
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    height: 100%;
}

.pcb-text-small {
    font-size: 1.5rem;
}



/** Content **/

.pcb-outer-content {
    background-color: var(--color-white);
}

.pcb-outer-content {
    padding-bottom: 64px;
}

section.content {
    background-color: var(--color-white);
    max-width: var(--container-width);
    margin: 0 auto;
    align-items: center;
}

.content-divider {
    display: grid;
    grid-template-columns: 0.75fr 0.25fr;
    column-gap: 32px;
    padding: 0 var(--gap);
}

.article-sidebar {
    background-color: #a4d037;
    width:100%;
}




@media (max-width: 64em) {
    .article-sidebar {
        display: none;
    } 
    .content-divider {
        grid-template-columns: 1fr;
    }
}

