/** about-me segment */
.about-me {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    gap: var(--gap);
    align-items: center;
}

.about-me .about-content {
    height: 100%;
}

.about-me .about-content main {
    text-align: justify;
}

.about-me .about-content .badge-line {
    justify-content: center;
    text-align: center;
    display:flex;
    gap: calc(var(--gap)/2);
    flex-wrap: wrap;
}

.about-me .about-content .badge {
    background-color: var(--color-background-accient-3);
    border-radius: 6px;
    padding: 1rem 2rem;
    color: var(--color-text-accient-1)
}


.about-me header {
    padding-top: 3rem;
}

.hero .hero-image {
    /** todo **/
}