/** about-me segment */
.about-me {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: calc(var(--gap)*2);
    align-items: center;
}

.about-me .about-keyfacts{
    height: 100%;
}

.about-me .about-content {
    height: 100%;
}

.about-me .about-content main {
    text-align: justify;
}

.about-me .badge-line {
    padding-top: 3rem;
    justify-content: center;
    text-align: center;
    display:flex;
    gap: calc(var(--gap)/2);
    flex-wrap: wrap;
}

.about-me .badge {
    background-color: var(--color-background-accient-3);
    border-radius: 6px;
    padding: 1rem 2rem;
    color: var(--color-text-accient-1)
}

.about-me ul {
    list-style: none;
    padding: 0;
}
.about-me ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 0.8em;
}

.about-me ul li h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-me ul li:not(:last-child) {
    border-bottom: 1px solid var(--color-border-2);
}

.about-me ul li i {
    color: green;
    font-size: 2.5rem;
}

.hero .hero-image {
    text-align: center;
}

.hero .hero-image img {
    display: inline;
}