/** hero segment */
.hero {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--gap);
    align-items: center;
    grid-template-areas: "a b";
}

.hero h1 {
    font-size: 5.5rem;
}
.hero .about-hero {
    grid-area: a;
}

.hero .about-hero main {
    text-align: justify;
}

.hero .about-hero footer {
    justify-content: center;
    text-align: center;
    display:flex;
    gap: var(--gap);
    padding-top: calc(var(--gap)/2); 
}

.hero-photo {
    grid-area: b;
    display: flex;
    justify-content: center;
    text-align: center;
}

.hero-photo img {

}

@media (max-width: 950px) {
    .hero {
        grid-template-columns: 1fr;
        grid-auto-flow: column;
        grid-template-areas: "b"
                            "a";
    }
}