/** hero segment */
.hero {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--gap);
    align-items: center;
}

.hero .about-hero main {
    text-align: justify;
}

.hero .about-hero footer {
    justify-content: center;
    text-align: center;
    display:flex;
    gap: var(--gap);
    padding-top: calc(var(--gap)/2); 
}

.hero .hero-image {
        /** todo*/
}