.resume {
    display: grid;
    grid-template-areas: "a b";
    grid-template-columns: 25rem 1fr;
    gap: var(--gap);
    position: relative;
}



.resume aside {
    grid-area: a;
}
.resume main {
    grid-area: b;
}

.resume main > section {
    scroll-margin: 100px;
    padding-bottom: 4rem;
}

.resume h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: dashed var(--color-border-2) 2px;
}

.resume h2 {
    font-size: 2.2rem;
}

.resume h3 {
    font-size: 1.8rem;
    color: var(--color-text-accient);
    font-weight: 400;
    letter-spacing: -0.05rem;
}

.resume h4 {
    font-size: 1.6rem;
    letter-spacing: -0.05rem;
}

.resume h5 {
    font-size: 1.5rem;
    letter-spacing: -0.05rem;
}

.resume .wrapper {
    
    text-align: center;
    justify-items: center;
}



.resume aside {
    position: sticky;
    top: 10rem;
    align-self: start;
    display: flex;
    flex-flow: column;
    gap: 32px;
    align-items: center;
}

.cv-photo {
    transform: rotate(5deg);
    border-width: 2px;
    border-style: dashed;
    padding: 0.6rem;
    border-image-source: linear-gradient(to left, var(--color-primary), var(--color-secondary));
    border-image-slice: 1;
    width: fit-content;
}


.resume .wrapper {
    padding: var(--gap) 0;
    
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

@media (max-width: 767px) {
    .resume aside {
        position: unset;

    }
    .resume aside .toc {
        display: none;
    }   
    .resume {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "a"
        "b";
    }
}


.resume .skills {
    display: grid;

}

.resume .toc h4 {
    padding-bottom: 1rem;;
}

.resume .hobby > div > i {
    font-size: 6rem;
}