.resume {
    display: grid;
    grid-template-areas: "a b";
    grid-template-columns: 25rem 1fr;
    gap: var(--gap);
    position: relative;
}

.timeline {
    display: flex;
    gap: calc(var(--gap)/3);
    flex-flow: column;
}

.resume aside {
    grid-area: a;
}
.resume main {
    grid-area: b;
}

.resume main > section {
    scroll-margin: 100px;
    padding-bottom: 4rem;
}

.resume h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: dashed var(--color-border-2) 2px;
}

.resume h2 {
    font-size: 2.2rem;
}

.resume section p {
    text-align: justify;
}
.resume h3 {
    font-size: 1.8rem;
    color: var(--color-text-accient);
    font-weight: 400;
    letter-spacing: -0.05rem;
}

.resume h4 {
    font-size: 1.6rem;
    letter-spacing: -0.05rem;
}

.resume h5 {
    font-size: 1.5rem;
    letter-spacing: -0.05rem;
}
.timeline-entry {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
}

.resume aside {
    position: sticky;
    top: 10rem;
    align-self: start;
    display: flex;
    flex-flow: column;
    gap: 32px;
    align-items: center;
}

.timeline-entry .timespan .timespan-inner {
    display: flex;
    flex-flow: column;
    text-align: center;
    color: var(--color-text-accient-1);
    font-size: 1.6rem;
    padding: 0.5rem;
    border: var(--color-border-2) solid 1px;
    background-color: var(--color-background);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 2px -1px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);
    border-radius: 6px;
    line-height: 2rem;
    max-width: 10rem;
    white-space: nowrap;
}

.timeline-entry .station {
    border-left: var(--color-border-2) solid 2px;
    padding-left: 2.5rem;
    position: relative;
    background-color: var(--color-background);
    padding: 1rem 2rem;
    border-radius:   0 10px 10px 0 ;
    white-space: normal;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 2px -1px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);
}
.timeline-entry .station:before {
    background-color: var(--color-background);
    content: "\f1ce";
    position: absolute;
    left: -11px;
    font-family: Line Awesome Free;
    font-size: 20px;
    font-weight: 900;
    line-height: 19px;
    color: var(--color-text-accient);

}

.timeline-entry .timespan-inner {
    display: none;
}

.cv-photo {
    transform: rotate(5deg);
    border-width: 2px;
    border-style: dashed;
    padding: 0.6rem;
    border-image-source: linear-gradient(to left, var(--color-primary), var(--color-secondary));
    border-image-slice: 1;
    width: fit-content;
}
.timeline-entry .responsive-icon {
    display: none;
}

@media (max-width: 767px) {
    .resume aside {
        position: unset;

    }
    .resume aside .toc {
        display: none;
    }
    
.timeline-entry .responsive-icon {
    display: block;
}
        
    .resume {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "a"
        "b";
    }
    
    .timeline-entry .timespan-inner {
        display: block;
    }
    .timeline-entry header {
        
    display: grid;
    grid-template-columns: 1fr auto;

    }
   
.timeline-entry  .timespan {
        display: none;
    }
.timeline-entry {
    grid-template-columns: 1fr;
}
}


.resume .skills {
    display: grid;

}

.resume .toc h4 {
    padding-bottom: 1rem;;
}