<div class=" skills grid grid-auto">
    <div class="skill">
        <h5 class="progress-label">Requirements Engineering</h5>
        <progress class="steps" title="My daily business" max="10" value="8"></progress>
    </div>
</div>