<div class=" skills grid grid-auto">
    {{~>components/custom-resume/progress-bar
        progressTitle="Building IT Solutions"
        progressDescription="My daily business"
        value="8"
    ~}}
</div>