<div class=" skills grid grid-auto">
    {{~>components/custom-resume/progress-bar
        progressTitle="Project Management"
        progressDescription="My daily business"
        value="8"
    ~}}
    {{~>components/custom-resume/progress-bar
        progressTitle="Provide technical advisory"
        progressDescription="My daily business"
        value="8"
    ~}}
    {{~>components/custom-resume/progress-bar
        progressTitle="Working with agile tools"
        progressDescription="My daily business"
        value="8"
    ~}}
    {{~>components/custom-resume/progress-bar
        progressTitle="Provide userstories"
        progressDescription="My daily business"
        value="8"
    ~}}
    {{~>components/custom-resume/progress-bar
        progressTitle="Project Management"
        progressDescription="My daily business"
        value="8"
    ~}}
</div>