<div class="about-me">
    <section class="about-photo">
        <img src="{{img_url @site.cover_image size="l"}}"/>
    </section>
    <section class="about-content">
        <div class="badge-line">
            <div class="badge"><h3 class="text-gardient">30</h3> years old</div>
            <div class="badge"><h3 class="text-gardient">3432</h3> error logs read</div>
            <div class="badge"><h3 class="text-gardient">35+*</h3> problem solved</div>
            <div class="badge"><h3 class="text-gardient">2012</h3> start professional career</div>
        </div>
        <header>
            <div class="pretext">A quick round up of my person!</div>
            <h2 class="heading">More about me</h2>
        </header>
        <main>
            
        </main>
    </section>
</div>

