<div class="about-me attention">
    <section class="about-keyfacts">
        <header>
            <div class="pretext">Me in Badges!</div>
            <h2 class="heading">Some keyfacts about me:</h2>
        </header>
        <div class="badge-line">
            <div class="badge"><h3 class="text-gardient">30</h3> years old</div>
            <div class="badge"><h3 class="text-gardient">3432</h3> error logs read</div>
            <div class="badge"><h3 class="text-gardient">35+*</h3> problem solved</div>
            <div class="badge"><h3 class="text-gardient">2012</h3> start professional career</div>
            <div class="badge"><h3 class="text-gardient">30</h3> years old</div>
            <div class="badge"><h3 class="text-gardient">3432</h3> error logs read</div>
            <div class="badge"><h3 class="text-gardient">35+*</h3> problem solved</div>
            <div class="badge"><h3 class="text-gardient">2012</h3> start career</div>
            <div class="badge"><h3 class="text-gardient">30</h3> years old</div>
            <div class="badge"><h3 class="text-gardient">3432</h3> error read</div>
            <div class="badge"><h3 class="text-gardient">35+*</h3> problem solved</div>
            <div class="badge"><h3 class="text-gardient">2012</h3> professional career</div>
        </div>
    </section>
    <section class="about-content">
        <header>
            <div class="pretext">A quick round up of my person!</div>
            <h2 class="heading">Where can I provide help:</h2>
        </header>
        <main>
            <ul>
                <li>
                    <i class="las la-check-circle"></i>
                    <span>
                        <h4>Analyze complex IT infrastructures</h4>
                        Understanding systems and technology is my passion. I enjoy delving deep into systems and comprehending their core concepts. Knowing where a system can provide good value or has bottlenecks can be challenging, but I can help identify such points.
                    </span>
                </li>
                <li>
                    <i class="las la-check-circle"></i>
                    <span>
                    <h4>Requirements Engineering</h4>
                    Working with IT architectures is like walking through a dense forest. In my past projects, I was responsible for providing the scope in which different IT solutions work together.
                    </span>
                </li>
                <li>
                    <i class="las la-check-circle"></i>
                    <span>
                    <h4>Automating &amp; Interfacing</h4>
                    Wherever possible, I try to identify potential interfaces that can be utilized in a project to make it as digital as possible. Automating processes through APIs and interfaces is preferable to creating a fancy frontend form and manually recording information in Excel.
                    </span>
                </li>
                <li>
                    <i class="las la-check-circle"></i>
                    <span>
                    <h4>Give Recommandations</h4>
                    Digitizing a company requires a significant effort in communication between different departments. As a staff member, I can recommend which direction a company should take to address a given problem.
                    </span>
                </li>
                <li>
                    <i class="las la-check-circle"></i>
                    <span>
                    <h4>Speak to executives</h4>
                    I enjoy breaking down complex topics and explaining them in a way that is understandable to executives without getting too bogged down in the details. Additionally, I find it fun to translate business needs into technological solutions.
                    </span>
                </li>
            </ul>
        </main>
    </section>
</div>

