<div class="about-me attention">
    <section class="about-keyfacts">
        <header>
            <div class="pretext">Me in Badges!</div>
            <h2 class="heading">Some keyfacts about me:</h2>
        </header>
        <div class="badge-line">
            <div class="badge"><h3 class="text-gardient">30</h3> years old</div>
            <div class="badge"><h3 class="text-gardient">3432</h3> error logs read</div>
            <div class="badge"><h3 class="text-gardient">35+*</h3> problem solved</div>
            <div class="badge"><h3 class="text-gardient">2012</h3> start professional career</div>
            <div class="badge"><h3 class="text-gardient">30</h3> years old</div>
            <div class="badge"><h3 class="text-gardient">3432</h3> error logs read</div>
            <div class="badge"><h3 class="text-gardient">35+*</h3> problem solved</div>
            <div class="badge"><h3 class="text-gardient">2012</h3> start career</div>
            <div class="badge"><h3 class="text-gardient">30</h3> years old</div>
            <div class="badge"><h3 class="text-gardient">3432</h3> error read</div>
            <div class="badge"><h3 class="text-gardient">35+*</h3> problem solved</div>
            <div class="badge"><h3 class="text-gardient">2012</h3> professional career</div>
        </div>
    </section>
    <section class="about-content">
        <header>
            <div class="pretext">A quick round up of my person!</div>
            <h2 class="heading">Where can I provide help:</h2>
        </header>
        <main>
            <ul>
                <li>
                    <i class="las la-check-circle"></i>
                    <span>
                        <strong>Analyze complex IT infrastructures</strong><br/>
                        Understanding systems and technologie are my pashion. 
                        I like to deep dive into systems and understand the core concept of theses.
                        
                        Kowning where a system could provide good value or even has bottlenecks is sometimes quite challenging.
                        I can help to identity such points.
                    </span>
                </li>
                <li>
                    <i class="las la-check-circle"></i>
                    <span>
                    <strong>Requirements Engineering</strong><br />
                    Working which IT architectures are like walking through a dense forrest.
                    In my past projects I was responsible to provide the scope in which different IT solutions work together.
                    </span>
                </li>
                <li>
                    <i class="las la-check-circle"></i>
                    <span>
                    <strong>Interfacing</strong><br />
                    Where I can I try to identify poosible interfaces which can be used in a project to be as digital as possible.
                    Automating things through APIs and Interfaces where possible is better than provide a fancy frontend form and write things down in excel.
                    </span>
                </li>
                <li>
                    <i class="las la-check-circle"></i>
                    <span>
                    <strong>Give Recommandations</strong><br/>
                    To digitize a company it takes a lot of effort in communication between different apartments.
                    As a staff position I can recommand which way a company should go to a given problem.
                    </span>
                </li>
                <li>
                    <i class="las la-check-circle"></i>
                    <span>
                    <strong>Speak to executives</strong><br />
                    I love to break down the complex topics to make it understandable to the executibv
                    without going to much into detail. But it also make fun for me to translate business needs into technologies.
                    </span>
                </li>
            </ul>
        </main>
    </section>
</div>

