<div class="about-me grid grid-auto-full-two-columns">
    <section class="about-keyfacts">
        <header>
            <div class="pretext">Me in Badges!</div>
            <h2 class="heading">Some keyfacts about me:</h2>
        </header>
        <div class="badge-line">
            <div class="badge">
                <div class="badge-txt">
                    <h3 class="text-gardient">30 years</h3>old
                </div>
                <i class="las la-male"></i>
            </div>
            <div class="badge">
                <div class="badge-txt">
                    <h3 class="text-gardient">1.999 +</h3>read error logs 
                </div>
                <i class="las la-exclamation-triangle"></i>
            </div>
            <div class="badge">
                <div class="badge-txt">
                    Does not know much about <h3 class="text-gardient">Football</h3>
                </div>
               <i class="lar la-lightbulb"></i>
            </div>
            <div class="badge">
                <div class="badge-txt">
                    <h3 class="text-gardient">25+</h3>projects completed
                </div>
                <i class="las la-project-diagram"></i>
            </div>
            <div class="badge">
                <div class="badge-txt">
                    <h3 class="text-gardient">10+ years</h3>
                    of knowledge
                </div>
                <i class="las la-business-time"></i>
            </div>
            <div class="badge">
                <div class="badge-txt">
                    analyzed
                    <h3 class="text-gardient">96</h3> different systems
                </div>
                <i class="las la-cogs"></i>
            </div>
            <div class="badge">
                <div class="badge-txt">
                    a lot of problems
                    <h3 class="text-gardient">solved</h3>
                </div>
                <i class="las la-exclamation"></i>
            </div>
            
            <div class="badge">
                <div class="badge-txt">
                    Automating
                    <h3 class="text-gardient">with UiPath</h3>
                </div>
                <i class="las la-robot"></i>
            </div>
            <div class="badge">
                <div class="badge-txt">
                    <h3 class="text-gardient">fullstack</h3>
                    developer
                </div>
                <i class="las la-laptop-code"></i>
            </div>
            <div class="badge">
                <div class="badge-txt">
                    My first computer had 
                    <h3 class="text-gardient">a 8 GB HDD</h3>
                </div>
                <i class="lar la-hdd"></i>
            </div>
            <div class="badge">
                <div class="badge-txt">
                    Best Tool ever:
                    <h3 class="text-gardient">My todo list</h3>
                </div>
                <i class="las la-tasks"></i>
            </div>
            <div class="badge">
                <div class="badge-txt">
                    <h3 class="text-gardient">1.317 km</h3>per bike last year
                </div>
               <i class="las la-bicycle"></i>
            </div>
        </div>
    </section>
    <section class="about-content">
        <header>
            <div class="pretext">A quick round up of my person!</div>
            <h2 class="heading">What I can do well:</h2>
        </header>
        <main>
           <ul>
                <li>
                    <i class="las la-check-circle"></i>
                    <span>
                        <h4>Analyze complex IT Infrastructures</h4>
                        Understanding systems and technology is my passion. I enjoy delving deep into systems and comprehending their core concepts. Knowing where a system can provide good value or has bottlenecks can be challenging, but I can help identify such points.
                    </span>
                </li>
                <li>
                    <i class="las la-check-circle"></i>
                    <span>
                    <h4>Requirements Engineering</h4>
                    Working with IT architectures is like walking through a dense forest. In my past projects, I was responsible for providing the scope in which different IT solutions work together.
                    </span>
                </li>
                <li>
                    <i class="las la-check-circle"></i>
                    <span>
                    <h4>Automating &amp; Interfacing</h4>
                    Wherever possible, I try to identify potential interfaces that can be utilized in a project to make it as digital as possible. Automating processes through APIs and interfaces is preferable to creating a fancy frontend form and manually recording information in Excel.
                    </span>
                </li>
                <li>
                    <i class="las la-check-circle"></i>
                    <span>
                    <h4>Give Recommandations</h4>
                    Digitizing a company requires a significant effort in communication between different departments. As a staff member, I can recommend which direction a company should take to address a given problem.
                    </span>
                </li>
                <li>
                    <i class="las la-check-circle"></i>
                    <span>
                    <h4>Speak to Executives</h4>
                    I enjoy breaking down complex issues and explaining them in a way that business leaders can understand, without getting bogged down in the details. I also enjoy translating business needs into technology solutions.</span>
                </li>
            </ul>
        </main>
    </section>
</div>

