<section class="aboutme">
<header>
    <div class="pretext">This is a Blog for me to persist knowledge!</div>
    <h1 class="heading">Who am I</h1>
</header>
    <section class="hero-photo" style="background-color: brown;">
        hallo
    </section>
</section>