<section class="latest-posts">
<header class="with-action">
    <div class="pretext">Every one has a blog! Why not me too?</div>
    <h2 class="heading">🔥 My hot stuff on blog 🔥</h2>
    <div class="actions">
        <a href="Thee" class="gh-btn gh-outline-secondary-btn">View all Featured</a>
        <a href="Thee" class="gh-btn gh-outline-secondary-btn">View Latest</a>
    </div>
</header>
<main>
    <div>content</div>
    <div>content</div>
    <div>content</div>
</main>
</section>