<section class="latest-posts">
    <header class="with-action">
        <div class="pretext">Featured posts! Every one has a blog! Why not me too?</div>
        <h2 class="heading">🔥 My hot stuff on blog 🔥</h2>
        <div class="actions">
            <a href="Thee" class="gh-btn gh-outline-secondary-btn">View all Featured<i class="las la-arrow-right"></i></a>
            <a href="Thee" class="gh-btn gh-outline-secondary-btn">View Latest <i class="las la-arrow-right"></i></a>
        </div>
    </header>

    <main class="grid grid-columns-3">
        {{#foreach posts max="3"}}
            {{> components/post-card}}
        {{/foreach}}
    </main>
</section>