<section class="featured-posts">
    <header class="with-action">
        <div class="pretext">Featured posts! Every one has a blog! Why not me too?</div>
        <h2 class="heading">🔥 My hot stuff on the blog 🔥</h2>
        <div class="actions">
            <a href="/featured" class="gh-btn gh-outline-secondary-btn">View all Featured<i class="las la-arrow-right"></i></a>
            <a href="/blog" class="gh-btn gh-outline-secondary-btn">View Latest <i class="las la-arrow-right"></i></a>
        </div>
    </header>

    <main class="grid grid-auto">
        {{#foreach posts limit="6"}}
            {{> components/post-card}}
        {{else}}
            <p>There were no tags...</p>
        {{/foreach}}
    </main>
</section>