<div class="hero">
    <section class="about-hero">
        <header>
            <div class="pretext">If it is new, I'll try to come up with usecases!</div>
            <h1 class="heading">It's a me, <span class="highlight">Mario Kellner</span>!<br/>I'm an IT-Solution architect.</h1>
        </header>
        <main>
            <p>
                Glad to see you here! Let me quick define what an IT-Solution Architect is! Such a person must
                come up with possible solutions to solve business problems with IT.
                And such a Person I am. I love to understand different IT-Systems, technologies 
                interfaces, frameworks etc. to prototype different solutions for a problem or usecase. 
            </p>
            <p>
                Currently I'm based in Bocholt, Germany, a small Town near Münster.
                I'm working Fulltime for the Company cronos. I'm open to any IT problems 
                that can occur in complex infrastructures.
            </p>
        </main>
        <footer>
            <button class="gh-btn gh-outline-btn">To my blog</button>
            <button class="gh-btn gh-primary-btn gh-gardient-btn">Get in contact</button>
            <button class="gh-btn gh-outline-btn">To my resume</button>
        </footer>
    </section>
    <section class="hero-photo">
        <img src="{{img_url @site.cover_image size="l"}}"/>
    </section>
</div>
