<section class="latest-posts">
<header class="with-action">
    <div class="pretext">I love to learn new things!</div>
    <h2 class="heading">Topics on this blog</h2>
    <div class="actions">
        <a href="Thee"  class="gh-btn gh-outline-secondary-btn">View all Topics <i class="las la-arrow-right"></i></a>
    </div>
</header>

<div class="gh-feed gh-inner">
{{#foreach posts limit="7"}}
    {{> components/post-card}}
{{/foreach}}
</div>


</section>