<section class="latest-posts">
<header class="with-action">
    <div class="pretext">I love to learn new things!</div>
    <h2 class="heading">Topics on this blog</h2>
    <div class="actions">
        <a href="Thee"  class="gh-btn gh-outline-secondary-btn" >Go to blog</a>
    </div>
    
</header>
</section>