<a href="{{@custom.linkedin_link}}" target="_blank" class="gh-btn gh-outline-btn gh-icon-btn"><i class="lab la-linkedin-in"></i></a>
<a href="{{@custom.xing_link}}" target="_blank" class="gh-btn gh-outline-btn gh-icon-btn"><i class="lab la-xing"></i></a>
<a href="{{@custom.github_link}}" target="_blank" class="gh-btn gh-outline-btn gh-icon-btn"><i class="lab la-github"></i></a>
<a href="/blog/rss/" target="_blank" class="gh-btn gh-outline-btn gh-icon-btn"><i class="las la-rss"></i></a>
<a class="gh-btn gh-outline-btn gh-icon-btn" data-ghost-search><i class="las la-search"></i></a>