<button class="gh-btn gh-outline-btn gh-icon-btn">{{~> "icons/facebook" ~}}</button>
<button class="gh-btn gh-outline-btn gh-icon-btn">{{~> "icons/fire" ~}}</button>
<button class="gh-btn gh-outline-btn gh-icon-btn">{{~> "icons/twitter" ~}}</button>
<button class="gh-btn gh-outline-btn gh-icon-btn">{{~> "icons/rss"~}}</button>
<button class="gh-btn gh-outline-btn gh-search gh-icon-btn" data-ghost-search>{{~> "icons/search"~}}</button>