<button class="gh-btn gh-outline-btn gh-icon-btn"><i class="lab la-linkedin-in"></i></button>
<button class="gh-btn gh-outline-btn gh-icon-btn"><i class="lab la-xing"></i></button>
<button class="gh-btn gh-outline-btn gh-icon-btn"><i class="lab la-github"></i></button>
<button class="gh-btn gh-outline-btn gh-icon-btn"><i class="las la-rss"></i></button>
<button class="gh-btn gh-outline-btn gh-search gh-icon-btn" data-ghost-search><i class="las la-search"></i></button>