<a class="gh-btn gh-outline-btn gh-icon-btn"><i class="lab la-linkedin-in"></i></a>
<a class="gh-btn gh-outline-btn gh-icon-btn"><i class="lab la-xing"></i></a>
<a class="gh-btn gh-outline-btn gh-icon-btn"><i class="lab la-github"></i></a>
<a class="gh-btn gh-outline-btn  gh-icon-btn" data-ghost-search><i class="las la-search"></i></a>