<div class="about-me grid grid-auto-full-two-columns">
    <section class="about-keyfacts">
        <header>
            <div class="pretext">Ich in Abzeichen!</div>
            <h2 class="heading">Einige Fakten zu mir:</h2>
        </header>
        <div class="badge-line">
            <div class="badge">
                <div class="badge-txt">
                    <h3 class="text-gardient">30 Jahre</h3>alt
                </div>
                <i class="las la-male"></i>
            </div>
            <div class="badge">
                <div class="badge-txt">
                    <h3 class="text-gardient">1.999+</h3>Fehlerprotokolle gelesen
                </div>
                <i class="las la-exclamation-triangle"></i>
            </div>
            <div class="badge">
                <div class="badge-txt">
                    Weiß nicht viel über <h3 class="text-gardient">Fußball</h3>
                </div>
                <i class="lar la-lightbulb"></i>
            </div>
            <div class="badge">
                <div class="badge-txt">
                    <h3 class="text-gardient">25+</h3>abgeschlossene Projekte
                </div>
                <i class="las la-project-diagram"></i>
            </div>
            <div class="badge">
                <div class="badge-txt">
                    <h3 class="text-gardient">10+ Jahre</h3>
                    Erfahrung
                </div>
                <i class="las la-business-time"></i>
            </div>
            <div class="badge">
                <div class="badge-txt">
                    Bereits <h3 class="text-gardient">96</h3> verschiedene Systeme analysiert
                </div>
                <i class="las la-cogs"></i>
            </div>
            <div class="badge">
                <div class="badge-txt">
                    Viele Probleme <h3 class="text-gardient">gelöst</h3>
                </div>
                <i class="las la-exclamation"></i>
            </div>
            
            <div class="badge">
                <div class="badge-txt">
                    Automatisierung <h3 class="text-gardient">mit UiPath</h3>
                </div>
                <i class="las la-robot"></i>
            </div>
            <div class="badge">
                <div class="badge-txt">
                    <h3 class="text-gardient">Fullstack</h3>
                    Entwickler
                </div>
                <i class="las la-laptop-code"></i>
            </div>
            <div class="badge">
                <div class="badge-txt">
                    Mein erster Computer hatte eine <h3 class="text-gardient">8 GB Festplatte</h3>
                </div>
                <i class="lar la-hdd"></i>
            </div>
            <div class="badge">
                <div class="badge-txt">
                    Bestes Werkzeug überhaupt: <h3 class="text-gardient">Meine To-Do-Liste</h3>
                </div>
                <i class="las la-tasks"></i>
            </div>
            <div class="badge">
                <div class="badge-txt">
                    <h3 class="text-gardient">1.317 km</h3> mit dem Rad gefahren.
                </div>
               <i class="las la-bicycle"></i>
            </div>
        </div>
    </section>
    <section class="about-content">
        <header>
            <div class="pretext">Eine kurze Zusammenfassung meiner Person!</div>
            <h2 class="heading">Was ich gut kann:</h2>
        </header>
        <main>
           <ul>
                <li>
                    <i class="las la-check-circle"></i>
                    <span>
                        <h4>Komplexe IT-Infrastrukturen analysieren</h4>
                        Das Verständnis für Systeme und Technologie ist meine Leidenschaft. Ich tauche gerne tief in Systeme ein und verstehe ihre Kernkonzepte. Herauszufinden, wo ein System einen Mehrwert bieten kann oder Engpässe hat, kann herausfordernd sein, aber ich kann dabei helfen, solche Punkte zu identifizieren.
                    </span>
                </li>
                <li>
                    <i class="las la-check-circle"></i>
                    <span>
                    <h4>Anforderungsmanagement</h4>
                    Die Arbeit mit IT-Architekturen ist wie ein Spaziergang durch einen dichten Wald. In meinen früheren Projekten war ich dafür verantwortlich, den Rahmen festzulegen, in dem verschiedene IT-Lösungen zusammenarbeiten.
                    </span>
                </li>
                <li>
                    <i class="las la-check-circle"></i>
                    <span>
                    <h4>Automatisierung &amp; Schnittstellen</h4>
                    Wo immer möglich, versuche ich potenzielle Schnittstellen zu identifizieren, die in einem Projekt genutzt werden können, um es so digital wie möglich zu gestalten. Prozesse über APIs und Schnittstellen zu automatisieren ist bevorzugt, anstatt ein schickes Frontend-Formular zu erstellen und Informationen manuell in Excel zu erfassen.
                    </span>
                </li>
                <li>
                    <i class="las la-check-circle"></i>
                    <span>
                    <h4>Empfehlungen geben</h4>
                    Die Digitalisierung eines Unternehmens erfordert erhebliche Anstrengungen in der Kommunikation zwischen verschiedenen Abteilungen. Als Mitarbeiter kann ich empfehlen, in welche Richtung ein Unternehmen gehen sollte, um ein bestimmtes Problem zu lösen.
                    </span>
                </li>
                <li>
                    <i class="las la-check-circle"></i>
                    <span>
                    <h4>Mit Führungskräften sprechen</h4>
                    Mir macht es Spaß, komplexe Themen zu vereinfachen und sie so zu erklären, dass Führungskräfte sie verstehen, ohne sich in Details zu verlieren. Ich übersetze auch Geschäftsanforderungen in technologische Lösungen.
                    </span>
                </li>
            </ul>
        </main>
    </section>
</div>
